// ********* DESIGN SYSTEM *********

// ************* COLORS *************
$color-hippie-blue: #5ca5a5;
$color-hippie-blue-10-percent: rgba(92, 165, 165, 0.1);
$color-white: #fff;
$color-deep-aqua-15-percent: rgba(13, 113, 130, 0.15);
$color-oslo-grey: #7c8f8f;
$color-outer-space: #2b3939;
$color-silver-sand: #b7c4c4;

// *********** FONT-FAMILY **********
$font-league-spartan: "League Spartan", sans-serif;

// ********** FONT-WEIGHTS **********
$fw-500: 500;
$fw-700: 700;

// *********** 375px LAYOUT ***********
