// *********** 375px LAYOUT ***********

// ************** HEADER **************
.header {
  background: $color-hippie-blue;

  &__background {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 15.6rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// *********** FILTERS-JOBS ***********
.filters-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem 3.4rem;
}

// ************** FILTERS *************
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
  max-width: 32.7rem;
  border-radius: 0.5rem;
  background: $color-white;
  box-shadow: 0 1.5rem 2rem -0.5rem $color-deep-aqua-15-percent;
  padding: 2rem 2.5rem 2rem 1.9rem;
  transform: translateY(-3.6rem);
  margin-bottom: -3.6rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    max-width: 20.5rem;
  }

  &__clear-btn {
    display: block;
    background: none;
    border: none;
    color: $color-oslo-grey;
    font-family: $font-league-spartan;
    font-size: 1.6rem;
    font-weight: $fw-700;
    line-height: 2.4rem;
    letter-spacing: -0.0123rem;
    transform: translateY(0.1rem);
  }
}

// ************** FILTER *************
.filter {
  display: flex;
  border-radius: 0.4rem;
  overflow: hidden;
  height: 3.2rem;

  &__container {
    @include filter-container-tag-styles;
  }

  &__name {
    @include filter-tag-name-styles;
  }

  &__remove-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-hippie-blue;
    width: 3.2rem;
  }

  &__remove-icon {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
  }
}

// *************** JOBS **************
.jobs {
  margin-top: 5.6rem;
  display: inline-flex;
  flex-direction: column;
  gap: 4rem;
}

// **************** JOB ***************
.job {
  max-width: 32.7rem;
  border-radius: 0.5rem;
  background: $color-white;
  box-shadow: 0 1.5rem 2rem -0.5rem $color-deep-aqua-15-percent;
  padding: 3.2rem 2.4rem 2.4rem;
  position: relative;

  &__info {
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid $color-silver-sand;
  }

  &__logo {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__company-new-featured {
    display: flex;
    align-items: center;
    gap: 3.3rem;
  }

  &__company {
    color: $color-hippie-blue;
    font-size: 1.3rem;
    font-weight: $fw-700;
  }

  &__new-featured {
    display: flex;
    gap: 0.8rem;
  }

  &__new {
    @include new-featured-styles($color-hippie-blue);
  }

  &__featured {
    @include new-featured-styles($color-outer-space);
  }

  &__title {
    color: $color-outer-space;
    font-size: 1.5rem;
    font-weight: $fw-700;
    line-height: 2.4rem;
  }

  &__time-type-location {
    display: flex;
    gap: 1rem;
    color: $color-oslo-grey;
    font-size: 1.6rem;
    font-weight: $fw-500;
    line-height: 2.4rem;
    letter-spacing: -0.0123rem;
  }

  &__bullet-type,
  &__bullet-location {
    display: flex;
    align-items: center;
    gap: 0.9rem;
  }

  &__bullet-point {
    display: block;
    transform: translateY(-0.1rem);
  }
}

// **************** TAGS ***************
.tags {
  margin-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  max-width: 26.8rem;
}

// **************** TAG ****************
.tag {
  @include filter-container-tag-styles;
  border-radius: 0.4rem;
  height: 3.2rem;

  &__name {
    @include filter-tag-name-styles;
  }
}

// ******* 320px - 374px LAYOUT *******
@media only screen and (max-width: 23.375em) {
  // *************** JOB ***************
  .job {
    &__company-new-featured {
      gap: 2.2rem;
    }

    &__time-type-location {
      font-size: 1.5rem;
    }
  }

  // *************** TAGS **************
  .tags {
    gap: 1.57rem;
  }
}
