// ************ 768px LAYOUT ***********
@media only screen and (min-width: 48em) {
  // ********** FILTERS-JOBS **********
  .filters-jobs {
    padding: 0 0 6.4rem;
  }

  // ************** FILTERS ************
  .filters {
    width: 63.5rem;
    max-width: initial;
    padding: 2rem 2.1rem;

    &__container {
      max-width: initial;
    }
  }

  // ************** JOBS **************
  .jobs {
    margin-top: 4rem;
    gap: 2.4rem;
  }

  // *************** JOB ***************
  .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63.5rem;
    max-width: initial;
    padding: 3.2rem 2.1rem;

    &__info {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      padding-bottom: initial;
      border-bottom: initial;
    }

    &__logo {
      position: initial;
      top: initial;
      transform: initial;
    }

    &__company-new-featured {
      gap: 1.5rem;
    }

    &__company {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__time-type-location {
      gap: 1.3rem;
      font-size: 1.7rem;
      letter-spacing: -0.013rem;
    }

    &__bullet-type,
    &__bullet-location {
      gap: 1.3rem;
    }
  }

  // *************** TAGS **************
  .tags {
    margin-top: initial;
    max-width: 22.4rem;
  }
}
